@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange:#FC4308;
  --gray:#3E3232;
  --grayLight:#F5F5F5;
  --black:#000000;
  --blur:#d7cbc3e8;
  --radius:12px;
  --red:#F81539;
  --redButton:#F81539BF;
  --grayTxt:#3E3232BF;
  --shadow:"0px_0px_32px_0px_#00000012";
}

@media (prefers-color-scheme: dark) {
  
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
