@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange:#FC4308;
  --gray:#3E3232;
  --grayLight:#F5F5F5;
  --black:#000000;
}

@media (prefers-color-scheme: dark) {
  
}

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
